:root {
    --white: #fff;
    --colorTitle: #642A73;
    --bg-color: #F2F2F2;
    --bg-card: #4D0686;
    --bg-footer: #414141;
    --border-bottom: #AF20D3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans";
    min-width: 36rem;
}

.header {
    width: 100%;
    min-width: 36rem;
    /* padding: 0 5rem; */
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}
.header__list {
    display: flex;
}
.header__items {
    list-style-type: none;
    margin-right: 0.5rem;
}
.header__links {
    text-decoration: none;
    color: var(--white);

}
.header__links:hover {
    text-decoration: underline;
}

.spacing-view {
    padding: 0 2rem;
}

.hero {
    height: 80vh;
    background-image: linear-gradient(to right, #D76682, #d7668269, #D76682), url(/img/portada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.hero__title {
    font-size: 3.5rem;
    text-align: center
}
.hero__sub-title {
    font-size: 2rem;
    font-weight: 100;
    text-align: center
}

.products {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 3rem;
    text-align: center;
    color: var(--colorTitle);
    padding-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}
.products__conteiner {
    min-height: 40rem;
    min-width: 36rem;
    width: 100%;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.products__best {
    margin-bottom: 1.5rem;
}
.products__image {
    width: 100%;
}
.bg-circle {
    background-color: var(--colorTitle);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px var(--colorTitle);
    margin-right: 1rem;
    
    min-width: 3rem;
    min-height: 3rem;
    color: var(--white);
}
.products__text {
    padding: 1rem;
}

.portafolio {
    background-color: var(--bg-color);
    padding-bottom: 6rem;
}
.portafolio__conteiner-cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.portafolio__card {
    min-width: 32rem;
    box-shadow: 0 0 20px gray;
}
.portafolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 36rem;
    padding: 0 3rem 5rem;
}
.testimonials__card {
    aspect-ratio: 7 / 12;
    background-color: var(--bg-card);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
    /* padding: 6rem; */
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px ;
}
.testimonials__child {
    width: 100%;
    height: 50%;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.3rem solid var(--white);
}
.testimonials__title {
    width: 100%;
}
.testimonials__description {
    color: var(--white);
    width: 60%;
}

.services {
    background-color: var(--bg-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}
.services__card {
    padding: 2rem;
    min-width: 36rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__image {
    width: 100%;
}
.services__title {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.footer {
    background-color: var(--bg-footer);
}
.contact {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 40rem;
    margin-bottom: 3rem;
}
.contact__metodo {
    min-width: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-bottom: 0.1rem solid var(--white);
}
.contact__title {
    font-weight: bold;
    margin-bottom: 1rem;
}
.copyright {
    font-size: 2rem;
    border: none;
    color: #9E9797;
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
}

@media screen and (min-width: 476px) {
    .portafolio__card {
        min-width: 20rem;
        width: 22%;
    }
    .testimonials__card {
        aspect-ratio: 14 / 7;
        flex-direction: row;
    }
    .testimonials__child {
        width: 30%;
        height: 100%;
    }
    .testimonials__description {
        width: 60%;
    }
    .contact {
        height: 12rem;
        border-bottom: 0.1rem solid var(--white);
    }
    .contact__title {
        border-bottom: 0.4rem solid var(--border-bottom);
    }
    .contact__metodo {
        width: 30%;
        border: none;
    }
}
@media screen and (min-width: 650px) {
    .header {
        justify-content: flex-end;
        padding-right: 5rem;
    }
    .header__links {
        margin-right: 2rem;
    }
    .hero__title {
        font-size: 5rem;
    }
    .hero__sub-title {
        font-size: 3rem;
    }
    .products__conteiner {
        min-width: 30rem;
        width: 50%;
    }
    .services__card {
        min-width: 20rem;
        width: 30%;
    }
}
@media screen and (min-width: 850px) {
    .testimonials {
        height: 50rem;
    }
    .testimonials__conteiner {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 30rem;
        max-width: 1000px;
    }
    .testimonials__card {
        max-width: 400px;
    }
}